.kNav{
    padding: 50px 70px;
    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: row;
    @media (width < 700px) {
        flex-direction: column;
    }
    justify-content: space-between;
    align-items: center;

    .navButtons{
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }
}