.mCustomButton {
  border: 1px solid transparent;
  width: 125px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #0d1840;
  box-shadow: 0px 7.21px 16.42px -4.74px rgba(39, 76, 119, 0.16);

  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: 300ms;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
